<div style="width: 40%;">
    <h1>CPU Load:</h1>
    <h2>VM1</h2>
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
    <h2>VM2</h2>
    <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartClick)="onChartClick($event)">
  </canvas>
  <h2>VM3</h2>
  <canvas
  baseChart
  [chartType]="'line'"
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [legend]="true"
  (chartClick)="onChartClick($event)">
  </canvas>
  <h2>VM4</h2>
  <canvas
  baseChart
  [chartType]="'line'"
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [legend]="true"
  (chartClick)="onChartClick($event)">
  </canvas>
</div>
