<div>
  <div><button (click)="this.getMetrics()">refresh</button></div>
  <div>IP: {{ip}}</div>
  <div>Uptime: {{uptime}}</div>
  <div>Version: {{version}}</div>
  <div>Last heartbeat: {{lastTimestamp}}</div>
</div>
<div class="parent" *ngIf="isChartData">
    <div class="child">
      <h2>CPU Load:</h2>
      <canvas
          baseChart
          #cpuChart="base-chart"
          [chartType]="'line'"
          [datasets]="cpuData"
          [labels]="cpuLabel"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>

    <div class="child">
      <h2>Memory:</h2>
      <canvas
          baseChart
          #memoryChart="base-chart"
          [chartType]="'line'"
          [datasets]="memoryData"
          [labels]="memoryLabel"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>

    <div class="child">
      <h2>Number of Processes:</h2>
      <canvas
          baseChart
          #processChart="base-chart"
          [chartType]="'line'"
          [datasets]="numOfProcessData"
          [labels]="numOfProcessLabel"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>

    <div class="child">
      <h2>CPU Temp:</h2>
      <canvas
          baseChart
          #tempChart="base-chart"
          [chartType]="'line'"
          [datasets]="cpuTempData"
          [labels]="cpuTempLabel"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>
</div>
